@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hilangkan arrow default select (cross-browser) */
select.no-native-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: none;
}
